*{
	margin: 0;padding: 0;-webkit-tap-highlight-color: transparent;-webkit-overflow-scrolling: touch;
}
body{
	color: #333;font-family: Arial;
}
ul,li{
	list-style: none;
}
/*padding&margin*/
.pad10{
	padding: 10px;
}
.padtb10{
	padding-bottom: 10px;padding-top: 10px;
}
.padlr10{
	padding-left: 10px;padding-right: 10px;
}
.padrig5{
	padding-right: 5px;
}
.marrig5{
	margin-right: 5px;
}
/*width&height*/
.width100{
	width: 100%;
}
.height100{
	height: 100%;
}
/*color&background*/
.fcred{
	color: red;
}
.fcblue{
	color: #189cfb;
}
.fc999{
	color: #999;
}
.fc666{
	color: #666;
}
.fcfff{
	color: #fff;
}
.bgblue{
	background-color: #189cfb;
}
.bgddd{
	background-color: #ddd;
}
.bgccc{
	background-color: #ccc;
}
.bg333{
	background-color: #333;
}
.bgfff{
	background-color: #fff;
}
/*font-size*/
.fsize22{
	font-size: 22px;
}
.fsize20{
	font-size: 20px;
}
.fsize18{
	font-size: 18px;
}
.fsize16{
	font-size: 16px;
}
.fsize15{
	font-size: 15px;
}
.fsize14{
	font-size: 14px;
}
.fsize13{
	font-size: 13px;
}
/*text-align*/
.txcenter{
	text-align: center;
}
.txleft{
	text-align: left;
}
.txright{
	text-align: right;
}
/*input*/
button,input{
	background: none;outline: none;border: none;
}
input[type="text"],input[type="search"],input[type="number"]{
	line-height: normal;-webkit-appearance: none;appearance: none;
}
/*position*/
.fixed{
	position: fixed;
}
/*flex*/
.flex{
	display: flex!important;display: -webkit-flex!important;
}

.flex1{
	-webkit-flex-grow: 1;flex-grow: 1;
}
.inflex{
	display: -webkit-inline-flex;display: inline-flex;
}
.middle{
	display: -webkit-inline-flex;display: inline-flex;
	-webkit-justify-content: center;justify-content: center;
	-webkit-flex-direction: column;flex-direction: column;
	-webkit-align-items: center;align-items: center;
}
.center{
	display: -webkit-inline-flex;display: inline-flex;
	-webkit-justify-content: center;justify-content: center;
	-webkit-align-items: center;align-items: center;
}
.fxcenter{
	display: -webkit-inline-flex;display: inline-flex;
	-webkit-justify-content: center;justify-content: center;
}
.fxmiddle{
	display: -webkit-inline-flex;display: inline-flex;
	-webkit-align-items: center;align-items: center;
}
/*button*/
button{
	border: none;outline: none;background: none;
}
/*confirm*/
.content{
	min-height: 30px;display: flex;justify-content: center;align-items: center;
	padding: 20px;
}
.noneit{
	display: none;
}
.max700{
	width: 100%;max-width: 700px;margin: 0 auto;
}
.marauto{
	margin-left: auto;margin-right: auto;
}
.fadeIn{
	-webkit-animation:fadeIn .5s ease both;-moz-animation:fadeIn .5s ease both;-ms-animation:fadeIn .5s ease both;animation:fadeIn .5s ease both;
}
@-webkit-keyframes fadeIn{
	0%{opacity:0} 100%{opacity:1}
}
@keyframes fadeIn{
	0%{opacity:0} 100%{opacity:1}
}