<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Vue-image</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/xhr.min.js"></script>
<style type="text/css">

</style>
</head>
<link rel="stylesheet" href="css/style.css">
<body>
<div id="v1">
	<input type="text" v-model="phone">
	<input type="text" v-model="psw">
	<button v-on:click="load">load</button>
	<button v-on:click="getlist">getlist</button>
</div>


<script type="text/javascript">

// import {sex,echo} from "./a.js" 
</script>
</body>
</html>